@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>

<p>This is an email generator to contact customers who have outstanding invoices.</p>
<p>The contacts list for the different CB offices are stored in a list on EmailTemplate.</p>
